.lowSizeLowWeight {
    font-size: 16px;
    font-weight: 400;
}

.lowSizeBigWeight {
    font-size: 16px;
    font-weight: 600;
}

.mediumSizeBigWeight {
    font-size: 20px;
    font-weight: 600;
}

.bigSizeMediumWeight {
    font-size: 24px;
    font-weight: 500;
}

.bigSizeBigWeight {
    font-size: 24px;
    font-weight: 600;
}

.veryLargeSizeBigWeight {
    font-size: 40px;
    font-weight: 700;
}

.gray-1 { color: var(--gray-color-1); }
.secondary-2 { color: var(--secondary-color-2); }
.secondary-3 { color: var(--secondary-color-3); }
.secondary-6 { color: var(--secondary-color-6); }
.red-color { color: var(--primary-color); }
.black-color { color: var(--black-color); }
.low-line-height { line-height: 25px; }