.order-wrapper {
    .order-info {
        box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.08);
        border-radius: 1.25rem;
        img {
            border-radius: 1.25rem;
        }
        .rating {
            font-size: 24px;
            width: 100px;
            color: var(--star-color);
        }
        .product-wrapper:not(:last-child) {
            margin-bottom: 2rem;
        }
    }
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}
