/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
@font-face { font-family: 'Montserrat'; src: url('/assets/fonts/Montserrat-Regular.otf'); }
:root {
    --primary-color: #E51313;
    --secondary-color-1: #173A73;
    --secondary-color-2: #00519C;
    --secondary-color-3: #081540;
    --secondary-color-4: #091B37;
    --secondary-color-5: #15376E;
    --secondary-color-6: #750B0B;
    --gray-color-1: #707070;
    --white-color: #ffffff;
    --black-color: #000000;
    --star-color: #ff9100;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat'; }
